.buttonGroupPage {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
  gap: 20px;

  .btn-group {
    button {
      padding: 20px;
      border: none;
      cursor: pointer;
      // background-color: transparent;

      &:hover {
        background-color: inherit;
      }
    }
    button.active {
      background-color: red;
      color: white;
    }
    button.btn-success {
      border: 1px solid blue;
    }
    button.btn-success.active {
      background-color: blue;
      color: white;
    }
  }

  .radio-toolbar {
    input[type='radio'] {
      // display: none;

      &:checked + label {
        background-color: #bbb;
      }
    }
    label {
      display: inline-block;
      background-color: #ddd;
      padding: 4px 11px;
      font-family: Arial;
      font-size: 16px;
      cursor: pointer;
    }
  }
}
