.collapsePage {
  margin: 0 100px;
  padding: 10px 100px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: #555;

  h1 {
    // padding: 20px 0 0;
    color: #666;
    // font-weight: 300;
    // font-size: 20px;
    margin: 0;
    padding: 0;
    line-height: 70px;
    margin-top: 30px;
  }

  .items {
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;

    .item {
      // width: 550px;
      margin-bottom: 50px;
    }
  }

  .content {
    line-height: 30px;
  }
}
