.imgUpload {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 88vh;
  justify-content: center;
  align-items: center;

  .wrapper {
    width: 555px;
    display: flex;

    .left {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;

      .camera {
        width: 250px;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(234, 233, 233, 0.332);
        border-radius: 50%;

        img {
          width: 250px;
          height: 250px;
          object-fit: cover;
          border-radius: 50%;
        }
      }
    }
    .right {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;

      .img > label {
        font-size: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        cursor: pointer;
      }
      .img > button {
        border: none;
        font-size: 30px;
        padding: 10px;
        color: white;
        background-color: turquoise;
        margin-top: 20px;
        letter-spacing: 3px;
        cursor: pointer;
        width: 255px;
      }
      .img > button.loading:after {
        overflow: hidden;
        display: inline-block;
        vertical-align: bottom;
        -webkit-animation: ellipsis steps(4, end) 900ms infinite;
        animation: ellipsis steps(4, end) 900ms infinite;
        content: '\2026';
        /* ascii code for the ellipsis character */
        width: 0px;
      }
    }
  }
}

input[type='file'] {
  display: none;
}

@keyframes ellipsis {
  to {
    width: 40px;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 40px;
  }
}
