.selector {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;

  .radios {
    display: flex;
    gap: 10px;

    div {
      display: flex;

      input {
        display: none;
      }
      input + label {
        cursor: pointer;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        border: 5px solid transparent;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          background-color: yellow;
          border: 5px solid #5555ff;
        }
      }
      input:checked + label {
        // background-color: red;
        border: 5px solid #5555ff;
      }
    }
  }
}
