.wrap {
  padding: 20px 150px;
  text-align: center;

  h1 {
    margin-bottom: 20px;
    color: #555;
  }

  .items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    .item {
      width: 150px;
      background-color: lightgray;
      color: white;
      padding: 20px;
    }
  }
}
